<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../App.css">
    <title>SofkaU - Game Over</title>
</head>
<body>
    <div class="container">
        <img id="img-logo" src="https://ik.imagekit.io/lvh0tltbeph/SofkaU/logo-sofkau_1Fn3uH-1S.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645658493330" alt="Sofka logo">
        <h1>Thanks for participating</h1> 
        <h2 id="player">Game Over</h2>
    </div>
    
</body>
<script src="./index.js"></script>
</html>