<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../App.css">
    <title>SofkaU - Scores</title>
</head>
<body>
    <div class="container">
        <img id="img-logo" src="https://ik.imagekit.io/lvh0tltbeph/SofkaU/logo-sofkau_1Fn3uH-1S.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645658493330" alt="Sofka logo">
        <h1>Total Score</h1> 
          <h2 id="score">250</h2>
          <form id="form" action="/" method="GET">
            <label for="name"></label>
            <input id="name" type="text" name="name" placeholder="Your name Here"/>
            <button type="submit" id="button-scores" class="button-form">Save your Scores</button>
          </form>
        
    </div>
    
</body>
<script src="./index.js"></script>
</html>